body{
    background-color: azure;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
header >img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height: 50%;
    margin-bottom: 3rem;
}
nav {
    padding:0.5% 2%;
    background-color:gray;
    border-radius: 2rem;
}
nav ul{
    text-align: center;  
}
nav a {
    text-decoration: none; 
    color: white; 
    font-size: 1rem;
    font-weight: bold;
}

nav a:hover {
    color: #FF8C00; 
}
nav li{
    display: inline-block;
    padding-right:5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}
main section:first-child {
    flex: 1 1 100%;
    background-image:url('image3.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left:3%;
    color: white;
}


main section:nth-child(n+2) {
    flex: 1 1 calc(33.333% - 10px); /* Remaining sections take 1/3 of the width */
    border: 2px solid black;
    border-radius: 1rem;
    background-color: cornsilk;
    padding:5px 15px;
    justify-content: center;
    margin: 0.3rem; 
    box-sizing: border-box;
    display: flex; 
}
article img{
    display: block;
   margin :0 auto;
    height:250px;
    width:60%;
     
}
article a {
    padding:1rem ;
}

footer{
    display: flex;
}
footer img{
    width :10%;
}
footer div{
    flex:1;
}
footer div:last-child {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: right;
}
